/*menu principal*/

.cabecalhoPrincipal .container{
display: flex;
align-items: center;
justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

/*trabalhando com o icones do curso*/
.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}


.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
    }

/*parte do video*/

.videoSobre .container{
    display: flex;
    

}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.videoSobre-sobre-list{
    flex-grow: 1;
}

.videoSobre-video{
    flex-grow: 1;
}

.videoSobre-button{

}

/*mapa do site antes do rodapé*/

.rodapePrincipal-navMap-list{
    display: flex;
    /*flex-direction: column;
    flex-wrap: wrap;*/
    flex-flow: column wrap;
    height: 260px;
   
}


/*rodapé*/

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm{
width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}


/*mobile*/


