/*zerando as margins e padding do site e colocando um fonte padrao*/
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
/*configurando o imagem principal do site*/
.hero{
    width: 100%;
    height: 100vh;
    background: url("../img/background.png");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
/*configurando o tamanho do logo*/
.logo{
    width: 100px;
    cursor: pointer;
}
/*configurando o topo do site e alinhamentos*/
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*configurando os botões geral do site */
button{
    color:#fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
/*configurando a posição do titulo do site*/
.content{
    color:#fbfcfd;
    position: absolute;
    top:50%;
    left: 8%;
    transform: translateY(-50%);
    z-index: 2;


}
/*configurando o tamanho do texto principal e a sua posição*/
h1{
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}
/*configuração da barra lateral do site*/
.side-bar{
width: 50px;
height: 100vh;
background: linear-gradient(#00515d, #000729);
position: absolute;
right: 0;
top: 0;

}
/*personalisando a imagem do menu*/
.menu{
    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;
}
/*configurando as imagens dos links sociais*/
.social-link img, .useful-link img{
    width: 25px;
    margin: 5px auto;
    cursor: pointer;
}
/*configurando a posição do link social*/
.social-link{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/*configurando a posição do link de compartilhamento*/
.useful-link{
    width: 50px;
    text-align: center;
    position: absolute;
   bottom: 30px;
}
/*configurando o tamanho da bolha e o tempo de sua animação */
.bubbles img{
    width: 50px;
    animation: bubbles 7s linear infinite;

}
/*configurando a posição da bolha dentro do site*/
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
/*permite que as bolhas començem na parte do site visivel e ao subir ela vai desaparencendo*/
@keyframes bubbles {
    0%{
        transform:  translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
       
        opacity: 1;
    }
    100%{
        transform:  translateY(-80vh);
        opacity: 0;
    }
}

/* Efeito das bolhas subindo para o topo do siste com diversos intervalos*/

.bubbles img:nth-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
}
.bubbles img:nth-child(4){
    animation-delay: 4s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
}
