

@media screen and (max-width: 1024px) {

    .container {
        width: var(--container-width-md);
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    .logo {
        width: 59px;
        height: 68px;

    }

    iframe {
        position: relative;
        left: 0rem;
        width: 360px;
        height: 400px;
    }

    .nav__menu {
        position: fixed;
        right: 0%;
        height: 9%;
        width: 70%;
        flex-direction: row;
        gap: 0;
    }

    nav .menu-btn{
        display: block;
    }

    nav ul{
        position: fixed;
        
        left: -100%;
        background-color: transparent;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

nav ul.open{
    left: 34px;
}

.nav__menu li {
        width: 100%;
     
        margin: 50px 0;
    }

    .nav__menu li a {

        box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        font-size: 0.8rem;
    }

    header {
        height: 52vh;
        margin-bottom: 4rem;
    }

    .header__container {
        gap: 0;
        padding-bottom: 3rem;
    }

    .categories {
        height: auto;
    }

    .categories__container {
        grid-template-columns: 1fr;
        gap: 3rem
    }

    .categories__left {
        margin-right: 0;
    }

    .courses {
        margin-top: 0;

    }

    .courses__container {
        grid-template-columns: 1fr 1fr;
    }

    .faqs__container {
        grid-template-columns: 1fr;
    }

    .faq {
        padding: 1.5rem;
    }

    .footer__container {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width: 780px) {
    .container {
        width: var(--container-width-sm);
    }

    .logo {
        width: 59px;
        height: 68px;
    }

    .nav__menu {
        right: 3%;
    }

    header {
        height: 105vh;
    }

    .header__container {
        grid-template-columns: 1fr;
        text-align: center;
        margin-top: 2rem;
       
        
       

    }
    
.header__left h1 {

max-width: 300px;
font-size: 1.6rem;
margin-left: -0.55rem;
}


    .header__left p {
        max-width: 300px;
      margin-left: -0.5rem;
        margin-bottom: 1.3rem;
        text-align: justify;
        padding: 0 0.5rem;
    }

    .categories__right {
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }

    .category {
    
        padding: 1rem;
        border-radius: 1rem;
    }

    .category__icon {
        margin-top: 4px;
        display: inline-block;
    }

    .courses__container {
        grid-template-columns: 1fr;
    }

    .testimonial__body {
        padding: 1.2rem;
    }

    .footer__container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 2rem;
    }

    .footer__1 p {
        margin: 1rem auto;
    }

    .footer__socials {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .logo {
       width: 59px;
height: 68px; 
    }
    iframe {
        position: relative;
        left: -0.6rem;
        width: 360px;
        height: 150px;
        padding: 8px 0 8px 0;
    }
}


/*=========================pagina sobre=================================*/


@media screen and (max-width: 1024px) {
   
}