*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
footer .footer-col{
    padding-bottom: 40px;

}
footer h3{
    color: rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    color: azure;
    padding:10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer li:hover{
    color:rgb(241,240,245);
}

footer p{
    color:gray
}

footer .subscribre{
    margin-top: 20px;
}

footer input{
    width: 220px;
    padding: 13px 15px;
    background: #334f6c;
    border: none;
    outline: none;
    color: white;
}

footer .subscribre a{
text-decoration: none;
font-size: 0.9rem;
padding: 13px 15px;
background-color: white;
font-weight: 600;
border-radius: 2px;
}

footer .subscribre a.yellow{
    color: white;
    background: #fdc93b;
    transition: 0.3s ease;
}

footer .subscribre a.yellow:hover{
    color: rgb(21,21,100);
    background: white;
}

